.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #f1f1f1;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: 0;
    color: #818181;
  }


.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg{
    width: 430px;
}

.menus{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* 자식 요소들이 여러 줄에 걸쳐 나열되도록 허용*/
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button{
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: beige;
}

.search-area{
    height: 63.2px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.search-area i{
    margin-right: 8px;
    cursor: pointer;
}

#search-input-box{
    display: none;
    transition: 0.3s;
}

#search-input{
    margin-right: 5px;
}

#search-input-box button{
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    font-size: 0.8em;
}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

#menu-icon{
    display: none;
}

@media screen and (max-width: 48rem) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
    .close-btn i {font-size: 30px;}

    .menus{
        display: none;
    }

    #menu-icon{
        height: 10px;
        display: flex;
        cursor: pointer;
    }

    .mobile-nav{
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
}